footer {
    p {
        font-family: "HelveticaRoman", sans-serif;
        color: #000;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    a:hover {
        text-decoration: none;
        color: #979797;
    }
}