*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #979797;
    font-family: "RobotoRegular", sans-serif;
    font-weight: 400;
}

body.hidden-scroll {
    overflow: hidden;
}

// .container-custom {
//     max-width: 1200px;
//     padding-left: 15px;
//     padding-right: 15px;
//     margin: 0 auto;
//     box-sizing: border-box;
// }

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

ul {
    list-style-type: none;
}

.section-header {
    margin-bottom: 105px;
    flex-direction: column;
    align-items: center;

    h3 {
        font-family: "HelveticaLt", sans-serif;
        color: #000;
        font-size: 35px;
        margin-bottom: 0;
    }

    p {
        font-family: "MerriLightItalic", sans-serif;
        font-size: 16px;
    }

}

